*{
    box-sizing: border-box;
}

Body{
    margin: 0%;
    padding: 0%;
}

#Contatos{
    margin: inherit;
    padding: inherit;
    display: flex;
    flex-direction: column;
}

#Tel{
    margin: inherit;
    padding: 0% 2% 0% 0%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#Email{
    margin: inherit;
    padding: 0% 2% 0% 0%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#Cabecalho {
    margin: inherit;
    display: flex;
    justify-content: center;
}

#C1{
    flex: 1;
}

#C2{
    Flex: 2;
}

#Cabecalho_Nome {
    margin: inherit;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#h1_Nome{
    margin: 0px;
}

#Cabecalho_IdadeHabilitacao{
    margin: inherit;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

h6{
    margin: 0px;
}

#C3{
    flex: 1;
}

#Objetivos{
    display: flex;
    flex-direction: column;
}

.Titulos_Grupos{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
}

.Textos_Grupos{
    display: flex;
    justify-content: center;
}